a{
    color: black;
    font-size: 13px;
    text-decoration-line: none;
    font-family: Arial, sans-serif;
    text-decoration-style: solid;
}
div{
    display: block;
}
#google{
    display: inline-block;
}

.search-form{
    border: 1px solid #dfe1e5;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

    border-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;

    width: 582px;
    height: 44px;
}
#top-left{
    position: absolute;
    margin: 7px 0 0 10px;
    opacity: 0.75;
}
#top-right{
    position: absolute;
    right: 33.984px;
    margin: 7px 0 0 10px;
}